* {
  font-family: Helvetica, sans-serif;
}

#headerContainer {
  z-index: 1;
  color: #fff;
  background: url("../img/mountainscape.png") no-repeat;
  background-size: cover;
  height: 40vh;
}

header nav a {
  text-decoration: none;
  color: #fff;
}

header nav a:focus {
  color: #fdecca;
}

header #logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

header #design {
  font-weight: normal;
  color: #fdecca;
}

@media (max-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 30px 0 20px;
    padding-top: 5px;
  }
  header #logo, header #design {
    font-size: 20px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 15%;
            column-gap: 15%;
  }
}

@media (min-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 100px 0 50px;
    padding-top: 3%;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-column-gap: 60%;
            column-gap: 60%;
    height: 60px;
  }
}

#hero {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25% 0 25%;
}

#hero #heroHeader {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero #heroText {
  color: #dde8f2;
}

@media (min-width: 500px) {
  #btnsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #btnsContainer #showBtns {
    z-index: 2;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    margin-top: -30px;
  }
  .btn {
    border: 2px solid #696479;
    background-color: #696479;
    padding: 20px 40px 20px 40px;
    color: #dedde0;
  }
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9eef3), color-stop(#f8f9fb), to(#feffff));
  background: linear-gradient(#e9eef3, #f8f9fb, #feffff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  text-transform: uppercase;
  padding: 100px 0 100px 0;
}

@media (min-width: 500px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 5%;
  }
}

@media (max-width: 1300px) {
  .box {
    font-size: 2.5vw;
    font-weight: normal;
    color: #aaaeb6;
  }
  .subtext {
    font-size: 1vw;
    font-weight: bold;
    color: #696579;
    margin-top: -5%;
  }
  .boxBtn {
    background-color: #696579;
    padding: 5% 20% 5% 20%;
    border: #696579;
    color: #ffffff;
    opacity: 0;
  }
}

.activeTab {
  background-color: #fdecca;
  border: 2px solid #fdecca;
  color: #52485d;
}

@media (max-width: 500px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: -50px;
  }
  .boxContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .box {
    font-size: 20px;
  }
  .subtext {
    margin-top: 5%;
    font-size: 10px;
  }
  .boxBtn {
    background-color: #696579;
    padding: 5% 15% 5% 15%;
    border: #696579;
    color: #ffffff;
    opacity: 0;
    font-size: 10px;
    margin-top: 20%;
  }
}

@media (max-width: 1100px) {
  .boxContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFF;
    height: 200px;
    width: 250px;
    -webkit-box-shadow: 2px 2px 5px #e3ebee;
            box-shadow: 2px 2px 5px #e3ebee;
  }
  .boxContainer:hover {
    border-top: 2px solid #d83a6a;
    -webkit-box-shadow: 5px 5px 30px 10px #e3ebee;
            box-shadow: 5px 5px 30px 10px #e3ebee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boxContainer:hover .boxInfo {
    width: 100%;
  }
  .boxContainer:hover .box {
    color: #caa97d;
  }
  .boxContainer:hover .subtext {
    color: #1d314c;
  }
  .boxContainer:hover .boxBtn {
    margin-top: 10%;
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  .boxContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFF;
    height: 200px;
    width: 250px;
    -webkit-box-shadow: 2px 2px 5px #e3ebee;
            box-shadow: 2px 2px 5px #e3ebee;
  }
  .boxContainer:hover {
    border-top: 2px solid #d83a6a;
    -webkit-box-shadow: 5px 5px 30px 10px #e3ebee;
            box-shadow: 5px 5px 30px 10px #e3ebee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boxContainer:hover .boxInfo {
    width: 100%;
  }
  .boxContainer:hover .box {
    color: #caa97d;
  }
  .boxContainer:hover .subtext {
    color: #1d314c;
  }
  .boxContainer:hover .boxBtn {
    margin-top: 5%;
    opacity: 1;
  }
}

@media (min-width: 1300px) {
  .boxContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFF;
    height: 250px;
    width: 300px;
    -webkit-box-shadow: 2px 2px 5px #e3ebee;
            box-shadow: 2px 2px 5px #e3ebee;
  }
  .boxContainer:hover {
    border-top: 2px solid #d83a6a;
    -webkit-box-shadow: 5px 5px 30px 10px #e3ebee;
            box-shadow: 5px 5px 30px 10px #e3ebee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxContainer:hover .box {
    color: #caa97d;
  }
  .boxContainer:hover .subtext {
    color: #1d314c;
  }
  .boxContainer:hover .boxBtn {
    opacity: 1;
    margin-top: 20%;
  }
  .box {
    font-size: 30px;
    font-weight: normal;
    color: #aaaeb6;
  }
  .subtext {
    font-size: 15px;
    font-weight: bold;
    color: #696579;
    margin-top: -5%;
  }
  .boxBtn {
    background-color: #696579;
    padding: 5% 20%  5% 20%;
    border: #696579;
    color: #ffffff;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */